<a href="https://colab.research.google.com/github/hungithust/machine-learning-beginner-project/blob/main/n_gram_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer

In [ ]:
corpus =[
    "Thor ate pizza",
    "Loki is tall",
    "Loki is eating pizza"
]

In [ ]:
import spacy


# nlp là 1 object language model
nlp = spacy.load("en_core_web_sm")

def preprocess(text):
  doc =nlp(text)

  filtered_tokens =[]
  for token in doc:
    if token.is_stop or token.is_punct:
      continue
    filtered_tokens.append(token.lemma_)

  return " ".join(filtered_tokens)

preprocess("Thor ate pizza")

'thor eat pizza'

In [ ]:
corpus_processed = [preprocess(text) for text in corpus]
corpus_processed

['thor eat pizza', 'Loki tall', 'Loki eat pizza']

In [ ]:
v= CountVectorizer(ngram_range=(1,2))
v.fit(corpus_processed)
v.vocabulary_

{'thor': 7,
 'eat': 0,
 'pizza': 5,
 'thor eat': 8,
 'eat pizza': 1,
 'loki': 2,
 'tall': 6,
 'loki tall': 4,
 'loki eat': 3}

In [ ]:
v.transform(corpus_processed).toarray()

array([[1, 1, 0, 0, 0, 1, 0, 1, 1],
       [0, 0, 1, 0, 1, 0, 1, 0, 0],
       [1, 1, 1, 1, 0, 1, 0, 0, 0]])

In [27]:
import json

input_filename = 'News_Category_Dataset_v3.jsonl' # Đổi tên file của bạn ở đây
output_filename = 'News_Category_Dataset_v3_valid.json'

data_list = []
try:
    with open(input_filename, 'r', encoding='utf-8') as infile:
        for line in infile:
            # Loại bỏ khoảng trắng thừa ở đầu và cuối dòng
            stripped_line = line.strip()
            if stripped_line: # Chỉ xử lý nếu dòng không rỗng
                try:
                    # Parse từng dòng thành một đối tượng Python
                    json_object = json.loads(stripped_line)
                    data_list.append(json_object)
                except json.JSONDecodeError as e:
                    print(f"Lỗi khi parse dòng: {stripped_line}. Lỗi: {e}")
                    # Tùy chọn: bạn có thể muốn dừng lại hoặc bỏ qua dòng lỗi

    # Ghi toàn bộ danh sách vào tệp JSON mới với định dạng mảng hợp lệ
    with open(output_filename, 'w', encoding='utf-8') as outfile:
        json.dump(data_list, outfile, indent=2, ensure_ascii=False) # indent=2 để dễ đọc hơn

    print(f"Đã tạo tệp JSON hợp lệ: {output_filename}")

except FileNotFoundError:
    print(f"Lỗi: Không tìm thấy tệp {input_filename}")
except Exception as e:
    print(f"Đã xảy ra lỗi không mong muốn: {e}")

Đã tạo tệp JSON hợp lệ: News_Category_Dataset_v3_valid.json

In [28]:
import pandas as pd

df = pd.read_json("./News_Category_Dataset_v3_valid.json")

print(df.shape)

df.head()

(209527, 6)

,link,headline,category,short_description,authors,date
0,https://www.huffpost.com/entry/covid-boosters-...,Over 4 Million Americans Roll Up Sleeves For O...,U.S. NEWS,Health experts said it is too early to predict...,"Carla K. Johnson, AP",2022-09-23
1,https://www.huffpost.com/entry/american-airlin...,"American Airlines Flyer Charged, Banned For Li...",U.S. NEWS,He was subdued by passengers and crew when he ...,Mary Papenfuss,2022-09-23
2,https://www.huffpost.com/entry/funniest-tweets...,23 Of The Funniest Tweets About Cats And Dogs ...,COMEDY,"""Until you have a dog you don't understand wha...",Elyse Wanshel,2022-09-23
3,https://www.huffpost.com/entry/funniest-parent...,The Funniest Tweets From Parents This Week (Se...,PARENTING,"""Accidentally put grown-up toothpaste on my to...",Caroline Bologna,2022-09-23
4,https://www.huffpost.com/entry/amy-cooper-lose...,Woman Who Called Cops On Black Bird-Watcher Lo...,U.S. NEWS,Amy Cooper accused investment firm Franklin Te...,Nina Golgowski,2022-09-22

In [29]:
df.category.value_counts()

category
POLITICS          35602
WELLNESS          17945
ENTERTAINMENT     17362
TRAVEL             9900
STYLE & BEAUTY     9814
PARENTING          8791
HEALTHY LIVING     6694
QUEER VOICES       6347
FOOD & DRINK       6340
BUSINESS           5992
COMEDY             5400
SPORTS             5077
BLACK VOICES       4583
HOME & LIVING      4320
PARENTS            3955
THE WORLDPOST      3664
WEDDINGS           3653
WOMEN              3572
CRIME              3562
IMPACT             3484
DIVORCE            3426
WORLD NEWS         3299
MEDIA              2944
WEIRD NEWS         2777
GREEN              2622
WORLDPOST          2579
RELIGION           2577
STYLE              2254
SCIENCE            2206
TECH               2104
TASTE              2096
MONEY              1756
ARTS               1509
ENVIRONMENT        1444
FIFTY              1401
GOOD NEWS          1398
U.S. NEWS          1377
ARTS & CULTURE     1339
COLLEGE            1144
LATINO VOICES      1130
CULTURE & ARTS     1074
EDUCATION          1014
Name: count, dtype: int64

In [30]:
min_samples = 1381

df_bussiness = df[df.category == "BUSINESS"].sample(min_samples, random_state=2022)
df_sports = df[df.category == "SPORTS"].sample(min_samples, random_state=2022)
df_crime = df[df.category == "CRIME"].sample(min_samples, random_state=2022)
df_science = df[df.category == "SCIENCE"].sample(min_samples, random_state=2022)

In [31]:
df_balanced = pd.concat([df_bussiness, df_sports, df_crime, df_science])
df_balanced.category.value_counts()

category
BUSINESS    1381
SPORTS      1381
CRIME       1381
SCIENCE     1381
Name: count, dtype: int64

In [32]:
target = {"BUSINESS":0, "SPORTS":1, "CRIME":2, "SCIENCE":3}
df_balanced["category_num"] = df_balanced.category.map(target)
df_balanced.head()

,link,headline,category,short_description,authors,date,category_num
181516,https://www.huffingtonpost.com/entry/entrepren...,Entrepreneurism: Lots of Little Traumas and No...,BUSINESS,"I loved my years in corporate America, which I...","Liz Ryan, Contributor\nSpeaker, writer, sopran...",2012-11-25,0
58552,https://www.huffingtonpost.com/entry/tesla-fas...,Tesla Just Unveiled The Quickest Car You Can A...,BUSINESS,A new battery upgrade extends the range of the...,"Alexandria Sage, Reuters",2016-08-23,0
155102,https://www.huffingtonpost.com/entry/workers-p...,90 Percent Of Employers Tie Workers' Pay To Co...,BUSINESS,Caterpillar will not break any profit records ...,"Reuters, Reuters",2013-09-01,0
71725,https://www.huffingtonpost.com/entry/us-tax-ha...,One Of Ben Carson's Craziest Ideas Is Coming True,BUSINESS,The U.S. is the world's hottest new tax haven.,Ben Walsh,2016-03-26,0
80455,https://www.huffingtonpost.comhttp://www.bloom...,CEO Who Price Gouged HIV Drug Arrested For Sec...,BUSINESS,"A boyish drug company entrepreneur, who rocket...",,2015-12-17,0

In [34]:
df_balanced = df_balanced[['headline','category','category_num']]

In [35]:
from re import X
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
    df_balanced.headline,
    df_balanced.category_num,
    test_size=0.2,
    random_state=2022,
    stratify=df_balanced.category_num
)

In [36]:
print(X_train.shape)
X_train.head()

(4419,)

196434    Space Plane: X-37B Video Shows Air Force Craft...
178136    Cave-Dwelling Plants: Strange Subterranean Net...
102479    Hockey Goalie Commits Humiliating Gaffe In Nat...
37965     Wisconsin Man Accused Of Sending Manifesto To ...
191964    Derek McGlone, Teacher, Tries To Get Out Of Wo...
Name: headline, dtype: object

In [38]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

clf = Pipeline([
    ('vectorizer_bow', CountVectorizer()),
    ('Multi NB', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.76      0.83      0.79       276
           1       0.86      0.78      0.82       277
           2       0.84      0.89      0.87       276
           3       0.84      0.79      0.82       276

    accuracy                           0.82      1105
   macro avg       0.83      0.82      0.82      1105
weighted avg       0.83      0.82      0.82      1105

In [39]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.pipeline import Pipeline
from sklearn.metrics import classification_report

clf = Pipeline([
    ('vectorizer_bow', CountVectorizer(ngram_range=(1,2))),
    ('Multi NB', MultinomialNB())
])

clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.77      0.81      0.79       276
           1       0.85      0.79      0.82       277
           2       0.84      0.88      0.86       276
           3       0.85      0.82      0.83       276

    accuracy                           0.83      1105
   macro avg       0.83      0.83      0.83      1105
weighted avg       0.83      0.83      0.83      1105